@model Covid.Models.Dataset

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dataset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataRep" class="control-label"></label>
                <input asp-for="DataRep" class="form-control" />
                <span asp-validation-for="DataRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="day" class="control-label"></label>
                <input asp-for="day" class="form-control" />
                <span asp-validation-for="day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="month" class="control-label"></label>
                <input asp-for="month" class="form-control" />
                <span asp-validation-for="month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cases" class="control-label"></label>
                <input asp-for="cases" class="form-control" />
                <span asp-validation-for="cases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deaths" class="control-label"></label>
                <input asp-for="deaths" class="form-control" />
                <span asp-validation-for="deaths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="countriesAndTerritories" class="control-label"></label>
                <input asp-for="countriesAndTerritories" class="form-control" />
                <span asp-validation-for="countriesAndTerritories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geoId" class="control-label"></label>
                <input asp-for="geoId" class="form-control" />
                <span asp-validation-for="geoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="countryterritoryCode" class="control-label"></label>
                <input asp-for="countryterritoryCode" class="form-control" />
                <span asp-validation-for="countryterritoryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="popData2018" class="control-label"></label>
                <input asp-for="popData2018" class="form-control" />
                <span asp-validation-for="popData2018" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContinentExp" class="control-label"></label>
                <input asp-for="ContinentExp" class="form-control" />
                <span asp-validation-for="ContinentExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
